body{
	font-family: Tahoma,sans-serif;
}
button:focus{
	outline: none;
}
.container{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.massege{
	text-align: center;
	margin-top: 100px;
}
.error_404{
	text-align: center;
	margin-top: 70px;
	font-size: 60px;
	color: #669999;
}
.button{
	border-radius: 5px;
	background-color: #f05a22;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	padding: 22px 43px;
	margin-right: 40px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}
