* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  * img {
    max-width: 100%; }

body {
  font-family: 'Roboto', sans-serif; }

.header {
  background-color: #b40b27; }

.navbar {
  background-color: #b40b27; }

.navbar-light .navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 55px;
  -webkit-transition: all .7s;
  transition: all .7s;
  position: relative;
  color: #fff;
  line-height: 1;
  text-decoration: none; }
  .navbar-light .navbar-nav .nav-link:after {
    margin-top: 5px;
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    content: "";
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out; }
  .navbar-light .navbar-nav .nav-link:hover:after, .navbar-light .navbar-nav .nav-link:focus:after {
    margin-top: 5px;
    width: 100%;
    color: #fff; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #fff; }
  .navbar-light .navbar-nav .nav-link:focus {
    color: #fff; }

.download-icon {
  margin-right: 3px;
  width: 16px; }

.header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.header .navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5); }

.download {
  margin-top: 68px;
  background: url(../img/download/download-bg.jpg) no-repeat left;
  background-size: cover;
  height: 100%;
  font-style: italic;
  color: #fff;
  padding-bottom: 120px;
  position: relative; }
  .download::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
  .download-wrapper {
    padding-top: 70px; }
    .download-wrapper__img {
      text-align: center;
      margin-top: 30px; }

.form-text {
  text-shadow: 10px 3px 5px black;
  text-align: center; }

.first-text {
  font-size: 48px; }

.second-text {
  line-height: 5px;
  font-size: 38px; }

.form-button {
  text-align: center;
  margin-top: 50px;
  margin-left: 40px; }

.button {
  margin-top: 30px;
  text-align: center;
  border-radius: 15px;
  background-color: #fd393a;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 22px 43px;
  margin-right: 40px;
  text-transform: uppercase;
  -webkit-box-shadow: 10px 3px 5px black;
  box-shadow: 10px 3px 5px black; }
  .button:hover {
    font-size: 23px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }

.team {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }
  .team-title {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 300;
    color: #1C0A09; }
  .team-photo__img {
    margin-bottom: 20px; }

.text-title {
  font-size: 20px;
  font-weight: 300; }

.text-subtitle {
  font-size: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 30px; }

.details {
  background: url(../img/description/description-bg.jpg) no-repeat left;
  background-size: cover;
  padding-top: 67px;
  padding-bottom: 70px; }
  .details-wrapper__title {
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 80px;
    font-size: 35px;
    font-weight: 300; }
  .details-wrapper__description {
    color: #fff;
    font-size: 20px;
    text-align: center; }

.important {
  font-size: 28px; }

.sub-important {
  font-size: 24px; }

.footer {
  text-align: center;
  background-color: #b40b27;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #fff; }
  .footer a {
    color: #fff; }
