*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 20px;
}
a{
	text-decoration: none;
	display: inline-block;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
button:focus{
	outline: none;
}
.container{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
.header{
	padding-top:10px;
	padding-bottom:10px; 
	height: 60px;
	background-color: #b40b27;
}
.header__content-inner{
	display: flex;
	justify-content: space-between;
	padding: auto 0;
}
.header__logo{
	display: inline-block;
}
.menu li{
	margin-top: 5px;
	display: inline-block;
}
.menu a{
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 3px 20px;
	transition: all .3s;
}
.menu li + li{
	padding-left: 15px;
}
.menu a:hover{
	border-color: rgba(255,255,255,0.6);
	font-size: 18px;
}
.top{
	background-image: url(../img/bg-top1.jpg);
	padding-top: 130px;
	padding-bottom: 130px;
}
.top__content-inner{
	display: flex;
	justify-content: space-between;
}
.top__logo{
	display: inline-block;
	padding-left: 80px;
}
.text-and-button{
	display: inline-block;

}
.top__text{
	padding-top: 40px;
	padding-bottom: 30px;
	padding-right: 100px;
	color: white;
	font-size: 50px;
	font-weight: 700;
	font-style: italic;
	text-align: center;
	text-shadow: 10px 3px 5px black;
}
.top__button{
	margin-top: 40px;
	padding-left: 80px;

	
}
.button{
	border-radius: 15px;
	background-color: #fd393a;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	padding: 22px 43px;
	margin-right: 40px;
	text-transform: uppercase;
	box-shadow: 10px 3px 5px black;

}
.button:hover{
	font-size: 23px;
	transition: 0.2s;
}
.team{
	margin-bottom: 30px;
}
.team__photo{
	text-align: center;
}

.team__title{
	text-align: center;
	margin-top:35px;
	margin-bottom:60px;
	text-transform: uppercase;
	font-size: 30px;
}
.single-first{
	margin-left: 70px;
	/*float: left;*/
	display: inline-block;
	width:20%;
	margin-bottom: 40px;
	text-align: center;
}

.text-up{
	margin-top: 10px;
}
.text-down{
	margin-top:5px;
	color:rgba(0,0,0,0.7);
}

.detail{
	background-image: url(../img/bg-down.jpg);
	padding-top: 30px;
	padding-bottom: 0px;
}
.detail__title{
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	color: white;
	padding-top:30px;
	padding-bottom: 60px;
}
.student-and-text{
	display: flex;
	justify-content: space-between;
}
.student{
	padding-top:50px;
	padding-left: 40px;
	padding-bottom: 100px;
	display: inline-block;
}
.text-about{
	display: inline-block;
	color: white;
	padding-top: 90px;
	padding-right: 10px;
}
.footer{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 70px;
	color: white;
	background-color: #b40b27;
	font-size: 17px;
}
.root{
display: inline-block;

}
.designed{
	padding-right: 70px;
	display: inline-block;
	float: right;
}
.designed a{
	text-decoration: underline dotted;
	color:white;
}
