body{
	font-family: Tahoma,sans-serif;
}
button:focus{
	outline: none;
}
form{
	display: inline-block;
}
.container{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.header{
	padding-top: 77px;
	padding-bottom: 96px;
}
.header-img{
	display: inline-block;
	width: 45%;
	vertical-align: middle;
}
.header-text{
	display: inline-block;
	width: 54%;
	vertical-align: middle;
}
.header-text__title{
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 15px;
}
.header-text__subtitle{
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 35px;
}
.header-text__descr{
	max-width: 526px;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	margin-bottom: 47px;
}
.header-text__price{
	font-size: 48px;
	font-weight: 400;
	color: #313131;
	margin-bottom: 53px;
}
.button{
	border-radius: 5px;
	background-color: #f05a22;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	padding: 22px 43px;
	margin-right: 40px;
}

.button-o{
	color: #f05a22;
	background-color: transparent;
	border: 2px solid #f05a22;
}
.button-input{
	display: inline-block;
}
.section-title{
	text-align: center;
	color: #333333;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 97px;
}
.features{
	background-color: #f2f2f2;
	padding-top: 90px;
	padding-bottom: 99px;
}
.features-wrap::after{
	content: '';
	display: table;
	clear:both;
}
.features-block{
	display: inline-block;
	min-width: 25%;
	float: left;
	text-align: center;
}
.features-block__img{
	min-height: 50px;
}
.features-block__text{
	margin-top: 23px;
	color: #333333;
	font-size: 18px;
	font-weight: 400;
}
.costumer-photo{
	padding-top: 90px;
	padding-bottom: 99px;
}

.single-photo{
	float:left;
	display: inline-block;
	width:25%;
	margin-bottom: 40px;
}
.costumer-photo_wrap{
	content: '';
	display: table;
	clear:both;
}
